body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.clear { clear: both;}			

#left_column { width: 350px; border: 0px; float: left; height: 560px; overflow: scroll; margin-right: 5px }
#middle_column { width: 350px; border: 0px; float: left; height: 560px; overflow: scroll;}
#right_column { width: 350px; border: 0px; float: left;  height: 560px; overflow: scroll; margin-left: 5px}

#wrapper{
   width:1060px;
   margin:0 auto;
}

table {
	border-collapse:collapse;
}

tr.border_bottom td{
    border-bottom: 1px solid #dddddd;
    padding-top: 10px;
}

.attribution {
	margin-top: 10px
}