body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.clear { clear: both;}			

#leftcolumn { width: 350px; border: 0px; float: left}
#rightcolumn { width: 350px; border: 0px; float: left}