body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.clear { clear: both;}			

#left_column { width: 350px; border: 0px; float: left; height: 560px; overflow:hidden ;margin-right: 5px }
#middle_column { width: 350px; border: 0px; float: left; height: 560px; overflow: scroll;}
#right_column { width: 350px; border: 0px; float: left;  height: 560px; overflow:hidden; margin-left: 5px}

#wrapper{
   width:1060px;
   margin:0 auto;
}

#similar_artists_wrapper{
	height:420px;
	overflow: scroll;
}

#performances_wrapper{
	height:420px;
	overflow: scroll;	
}

.performance_artists{
	float: right;
	width: 120px;
}

.performance_info{
	float: left;
	width: 215px;
}

table {
	border-collapse:collapse;
}

tr.border_bottom td{
    border-bottom: 1px solid #dddddd;
    padding-top: 10px;
}

ul {
	margin: 0px;
	padding: 0px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 1em;
}

li {
	padding-bottom: 3px;
}
.performance_date{
	margin-top: 5px;
	margin-bottom: 5px;
}

.performance_link{
	margin-top: 5px;
}

.attribution {
	margin-top: 10px
}

#postal_code_setting {
	float: right;
}